* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

.container {
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    padding: 16px 0;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 60px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    transition: all 0.3s ease-in-out;
}

header a:hover {
    color: #469165;
}

.primary-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    color: #ffffff;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
    background-color: #30B868;
}

.secondary-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.secondary-btn:hover {
    background-color: #30B868;
    border-color: #30B868;
}

.hero {
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    padding: 120px 30px 185px 30px;
}

.hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
}

.label {
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 99px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.label .label-text {
    font-size: 16px;
    font-weight: 500;
    color: #469165;

}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    position: relative;
}

.label .dot-1 {
    width: 16px;
    height: 16px;
    background-color: #30B868;
    opacity: 0.2;
    border-radius: 99px;
}

.label .dot-2 {
    width: 12px;
    height: 12px;
    background-color: #30B868;
    opacity: 0.4;
    border-radius: 99px;
    position: absolute;
}

.label .dot-3 {
    width: 6px;
    height: 6px;
    background-color: #30B868;
    opacity: 1;
    border-radius: 99px;
    position: absolute;
}

.hero h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #ffffff;
}

.green {
    color: #30B868;
}

.hero .hero-content .hero-para {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    margin: 16px 0 32px 0;
}

.hero-buttons {
    display: flex;
    gap: 16px;
}

.note {
    padding: 100px 30px;
    text-align: center;
}

.note-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.text-16-px {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

.note-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.note-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #ffffff;
    padding: 70px 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.note-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.note-icon-wrapper {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
}

.solution {
    padding: 0px 30px 120px 30px;
}

.solution-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.label-green {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #469165;
    transform: capitalize;
    margin-bottom: 16px;
}

.solution-image-wrapper {
    width: 50%;
    max-width: 600px;
}

.solution-image-wrapper img {
    width: 100%;
    height: auto;
}

.solution-text-content {
    width: 50%;
    max-width: 700px;
}

.solution-text-content .title {
    max-width: 515px;
}

.solution-text-content .title p {
    max-width: 480px;
}

.solution-text-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 48px;
}

.solution-text-content ul li {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    display: flex;
    align-items: center;
    gap: 6px;
}

.era{
    padding: 0 30px 120px 30px;
    text-align: center;
}

.era h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
}

.era-content{
    padding: 80px 40px;
    background-color: #F7F6F2;
    border-radius: 12px;
}

.era-content .title p{
    max-width: 580px;
    margin: 0 auto;
}

.era-button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}