*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

.container {
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    padding: 16px 0;
}

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 60px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    transition: all 0.3s ease-in-out;
}

header a:hover {
    color: #469165;
}

.primary-btn {
    background-color: #469165;
    color: #ffffff;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
    background-color: #30B868;
}
